@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Harold Ponte da Costa</h1>
    <p>Follow me on my <a href="https://www.instagram.com/harold.pdc/">Instagram</a>.</p>
</div>
